---
layout: default
---

<div id="post-container">
  <div class="post-wide-hero-container" style="background-color:{{ page.hero-bg-color }}">
      <img class="post-wide-hero" src="{{  page.hero-image  }}" />
  </div>
    <div class="post post-wide">
    <div class="project-description">
      <div class="row clearfix">
        <div class="col">
          <div>
          <h2 class="project-title">{{ page.title }}</h2>
          <h3>{{ page.catchphrase }}</h3>
          <h3>{{ page.date | date: "%Y" }}</h3>
          <a class="project-link" href="{{ page.project_site.url }}" target="_blank">{{ page.project_site.title }}</a>
          <br>
          <br>
          <br>
        </div>
           
        
          <div class="row">
        
              <div class="col-50">
              <h3>
                  Context
                </h3>
                {% for p in page.context_description %}
                  <p>{{ p | textilize }}</p>
                {% endfor %}
              </div>
            {% if page.stack %}
              <div class="col-50">
                <h3>Stack</h3>
                <p>
                  {{ page.stack }}
                </p>
              </div>
            {% endif %}
          </div>
          {% if page.team.size > 0 %}
          <h3>Team</h3>
          <p>
            {% for t in page.team %}
              <p><a href="{{ t.site }}" target="_blank">{{ t.name }}</a> - {{ t.role }}</p>
            {% endfor %}
          </p>
          {% endif %}
        </div>
        <div class="col">
          <h3>Overview</h3>
          {% for p in page.contribution %}
            <p>{{ p | textilize }}</p>
          {% endfor %}
        </div>
        {% if page.press %}
        <div class="col">
            <h3>Press</h3>
            {% for press in page.press %}
            <ul><p><q>"{{ press.quote }}"</q> - <a class="project-link" href="{{ press.url }}" alt="{{ press.title }}" target="_blank">{{ press.title }}</a></p></ul>
            {% endfor %}
          </div>
          {% endif %}
      </div>
    </div>
    {% if page.screenshots or page.videos %}    
    <div class="showcase">
      {% for video in page.videos %}
      <div class="videoWrapper">
         {{ video }}
      </div>
      {% endfor %}
      {%for screen in page.screenshots %}
    <img src="{{ screen }}" alt="{{ page.title }}">
      {% endfor %}
  </div>
  {% endif %}
    {{ content }}
  </div>
</div>



{% if page.next.url %}
  <a href="{{page.next.url}}" title="{{page.next.title}}" class="next-project target"></a>
{% endif %}
{% if page.previous.url %}
  <a href="{{page.previous.url}}" title="{{page.previous.title}}" class="prev-project target"></a>
{% endif %}
